<%= form_for @proyecto, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :foto_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :foto_link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :terminado, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :terminado, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                proyectos_path, :class => 'btn' %>
  </div>
<% end %>
